# ==========================================
# Operating System
# ==========================================

.DS_Store
Thumbs.db
Desktop.ini

# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/

# Virtual Environments

.venv/
venv/
env/
ENV/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# VS Code
# ==========================================

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Environment Variables
# ==========================================

.env
.env.*

# ==========================================
# Build / Distribution
# ==========================================

build/
dist/

# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.temp
*.bak
*.swp

# ==========================================
# Power BI
# ==========================================

*.pbix.autosave

# ==========================================
# Data Outputs
# ==========================================

data/processed/*
!data/processed/.gitkeep

data/raw/*
!data/raw/.gitkeep

# ==========================================
# Reports Generated Automatically
# ==========================================

reports/technical/generated/*
!reports/technical/generated/.gitkeep